<h1>Sign In</h1>

<form action="/verify_credentials" method="post">
  <label for="browser_email">Email</label>
  <input id="browser_email" type="text" name="input_email" placeholder="Enter your email..."><br>

  <label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter your password..."><br>

  <button>Sign in!</button>
</form>

<hr>
<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>